<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipes!</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='assets/style.css') }}">
  </head>
  <body>
  <h1> Kategoria! </h1>
            {% for product in products %}
                <div class="category">
                    <p class = 'title'> {{product.name}} </p>
                    <p class = 'desc'> {{product.description}} </p>
                    <p class = 'price'> {{product.price}} </p>
                    <p class = 'amount'> {{product.amount}} </p>
                </div>
            {% endfor %}
  <nav>
      <a href="/">Strona Główna</a>
      <a href="/cart">Koszyk</a>
      <a href="/catalog">Katalog</a>
  </nav>
  </body>
</html>
