{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="cart">
    <ul>
      {% if products %}
        {% for n in products %}
          <li>{{n.name}}  ___  {{n.amount}}</li>
        {% endfor %}
      {% else %}
        <p>Twój koszyk jest pusty</p>
      {% endif %}
    </ul>
   <div class="order-link">
      {{ nav_link('order_form', 'Zamów') }}
   </div>
  </div>
{% endblock %}
