{% from "macros.html" import nav_link with context %}
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <title>{% block title %}{% endblock %} - Media RTV</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script data-require="jquery@3.1.1" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/styles.css') }}" />
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-header navbar-item">
        <a class="nav-link navbar-brand" href="/">Media RTV</a>
      </div>
      <div class="navbar-item">
        <ul class="navbar-nav">
          {{ nav_link('home', 'Strona główna') }}
          {{ nav_link('cart', 'Koszyk') }}
          {{ nav_link('catalog', 'Katalog') }}
        </ul>
      </div>
      <div class="navbar-item navbar-left">
        <input type="text" class="search" placeholder="Wyszukaj">
        <a class="nav-link" href="#">Wyloguj się</a>
      </div>
    </nav>
    <div  class="rate-shop">
      <div class="rate-shop-form">
        <p>Średnia ocen: {{ avg_rating }}</p>
        <form id="rate-shop-form" class="rate-form">
          <label>Oceń sklep:</label>
          <div class="rate">

            <input type="radio" id="star5" name="rate" class="" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" checked />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">1 star</label>
          </div>
          <textarea id="rate-shop-text" placeholder="Szczegóły (opcjonalnie)..."></textarea>
          <button id="rate-shop" class="rate-btn" type="button">Oceń</button>
        </form>
      </div>
    </div>
    <div class="container">
      {% block heading %}
        <h1>{% block page %}{% endblock %}</h1>
      {% endblock %}
      {% block content %}{% endblock %}
    </div>
  </body>
  <script src="{{ url_for('static', filename='assets/rate_shop.js') }}"></script>
</html>
