{% from "macros.html" import nav_link with context %}
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <title>{% block title %}{% endblock %} - Media RTV</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/styles.css') }}" />
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-header navbar-item">
        <a class="nav-link navbar-brand" href="/">Media RTV</a>
      </div>
      <div class="navbar-item">
        <ul class="navbar-nav">
          {{ nav_link('home', 'Strona główna') }}
          {{ nav_link('cart', 'Koszyk') }}
          {{ nav_link('catalog', 'Katalog') }}
        </ul>
      </div>
      <div class="navbar-item">
        <input type="text" class="search" placeholder="Search">
        <a class="nav-link" href="#">Wyloguj się</a>
      </div>
    </nav>
    <div class="container">
      {% block heading %}
        <h1>{% block page %}{% endblock %} - Flask Super Example</h1>
      {% endblock %}

      {% block content %}{% endblock %}

      <div class="footer">
        Footer
      </div>
    </div>
  </body>
</html>
