{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h3> Złóż zamówienie </h3>
  <form class="order-form" action="/order" method="post">
    <div class="delivery-form">
      <label>Wybierz miejsce odbioru zamówienia:</label>
      <div>
        <input class="delivery-radio" type="radio" name="delivery-type" value="pickup-in-person">
        <label for="pickup-in-person">Odbiór osobisty</label>
      </div>
      <div>
        <input class="delivery-radio" type="radio" name="delivery-type" value="delivery">
        <label for="delivery">Dostawa na miejsce</label>
      </div>
      <div>
        <input class="delivery-radio" type="radio" name="delivery-type" value="safe">
        <label for="safe">Bezpieczna dostawa</label>
      </div>
    </div>

    <div id="address" class="address-form">
      <input class="address-input" type="text" placeholder="Wpisz miasto...">
      <input class="address-input" type="text" placeholder="Wpisz ulicę...">
      <input class="address-input" type="text" placeholder="Wpisz numer budynku...">
      <input class="address-input" type="text" placeholder="Wpisz numer lokalu...">
    </div>

    <div class="delivery-form">
      <label>Wybierz sposób płatności:</label>
      <div>
        <input type="radio" name="payment-type" value="payment-in-person">
        <label for="payment-in-person">Płatność przy odbiorze</label>
      </div>
      <div>
        <input type="radio" name="payment-type" value="internet-payment">
        <label for="internet-payment">Płatność internetowa</label>
      </div>
    </div>

    <input type="submit" value="Zamów">
  </form>

  <script src="{{ url_for('static', filename='assets/order_form.js') }}"></script>
{% endblock %}
